# OPENSTACK_SECURITY_KEY_URL=http://localhost:8899/openstack/latest/securitykey
# OPENSTACK_META_DATA_URL=http://localhost:8899/openstack/latest/meta_data.json

# OBS_ENDPOINT=obs.ap-southeast-2.myhuaweicloud.com
# OBS_BUCKET=non-prod.payment-gateway
# OBS_INPUT_PATH=dev/settlement/rabbit-wallet/raw-backup/2025/04/11/


OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/3.0
OPENWEATHER_API_KEY=API_KEY
